/* it might be said: */
body{
  cursor: pointer;
}
ul{
  padding-left: 0;
}
.todo_cont li, .done_cont li{
  margin-bottom: 10px;
  list-style-type: none;
  margin-left: 0;
}

.move{
  display: inline-block;
}

.error{display: none}
